{% extends 'base/_base_home.html' %}
{% load widget_tweaks %} 
{% block body_home %}  
<div class="row"> 
        <div class="col-md-8">  
                {% if request.GET.title %}
                <a href="{%  url 'home:home' %}"><button class="btn-default btn-red" type="button">Reset</button></a>
                {% endif %}
        
                <div class="row">
                {% for post in post_list %}
                {% if post.is_activate == True %}
                <div class="container-box mt-2">
                        {% include "post/_card.html" %}
                </div>
                {% endif %}
                {% endfor %}
                </div>
                {% include 'base/_page.html' %}
        </div>
        <div class="col-md-4"> 
                {% include 'home/details/right.html' %} 
        </div> 
</div> 
{% endblock %}