{% load static %}
<div class="box-container-right">
        <div class="box-container">
                <h3>{{post.title}}</h3>
                <div class="box-index-container">
                        <div class="box-1">
                                <small>Categoria: <span class="badge btn-success">{{post.category.name}}</span></small>
                        </div>
                        <div class="box-buttom">
                                <small class="text-muted">{{post.published_date}}</small>
                        </div>
                </div>
        </div>
        <div class="box-index-container py-3">
                <p class="fs-5 fw-light">{{post.desc}}</p>
        </div> 
        <div class="box-buttom py-3">  
                {% if post.files1.url != '' and post.files1.url != 'None' %}
                <a class="link-light bg-secondary p-1 mx-1 rounded" href="{{post.files1.url}}" target="_blank"><i class="fas fa-link"></i> link 1</a> 
                {% endif %}
                {% if post.files2.url != '' and post.files2.url != 'None' %}
                <a class="link-light bg-secondary p-1 mx-1 rounded" href="{{post.files2.url}}" target="_blank"><i class="fas fa-link"></i> link 2</a>
                {% endif %}
                {% if post.files3.url != '' and post.files3.url != 'None' %}
                <a class="link-light bg-secondary p-1 mx-1 rounded" href="{{post.files3.url}}" target="_blank"><i class="fas fa-link"></i> link 3</a>
                {% endif %} 
        </div> 
        <div class="box-container">
                <div class="box-index-container">
                        <div class="box-1">
                                {% for tag in post.tags.all %}
                                <a href="{% url 'home:tagged' tag.slug %}">
                                        <span class="badge btn-gray mx-1">{{tag.name}}</span>
                                </a>
                                {% endfor %}
                        </div>
                        <div class="box-buttom"> 
                                <form method="POST" action="{% url 'home:like' post.pk %}" class="mt-2 px-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{request.path}}">
                                        <button type="submit" class="btn link-danger">
                                                <i class='fas fa-heart'></i><span> {{post.likes.all.count}}</span>
                                        </button>
                                </form> 
                                <form method="POST" action="{% url 'home:dislike' post.pk %}" class="mt-2 px-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{request.path}}">
                                        <button type="submit" class="btn link-danger">
                                                <i class='fas fa-heart-broken'></i><span> {{post.dislikes.all.count}}</span>
                                        </button>
                                </form> 
                                <a class="link-dark" href="http://127.0.0.1:8000/perfil/{{post.author.user_name}}">
                                        {% if post.author.profile.image %}
                                        <img src="{{  post.author.profile.image.url }}" alt="{{ post.author.first_name }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;margin-right: 10px;">
                                        {% else %}
                                        <img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle" alt="default" style="width: 40px; height: 40px;margin-right: 10px;" />
                                        {% endif %}
                                </a>
                                <a class="link-dark" href="http://127.0.0.1:8000/perfil/{{post.author.user_name}}">
                                        {{ post.author.user_name}}
                                </a> 
                        </div>
                </div>
        </div> 
</div>  