{% include 'base/_base_home.html' %}
{% load static %}
{% block body_home %}
{% include 'base/_messages.html' %}
<form class="myForm lead" method="POST" autocomplete="off" id="form-login">
    <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="logo" width="150" height="150">
    {% csrf_token %}
    <div class="form-group mt-3 mx-5">
        <label for="username">E-mail</label>
        <input type="email" id="username" name="username" class="form-control item" value="{{ request.POST.username }}" required autofocus>
    </div>
    <div class="form-group mt-3 mx-5">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control item" required>
    </div>
    <div class="form-group mt-3 mx-5">
        <button class="btn-default btn-red" type="submit">Login</button>
    </div>
    <div class="form-group mt-3 fs-6 text-muted font-italic py-3">
        <a class="link-secondary" href="{% url 'accounts:user-new' %}">Don't have an account yet? Register</a><br>
        <a class="link-secondary " role="button" href="{% url 'accounts:password-reset' %}">Forgot your password?</a>
    </div>
</form>

{% endblock %}