{% extends 'base/_base_home.html' %}
{% block title %}Redefinir Senha{% endblock %}
{% block body_home %} 
<div class="container box">
        <div class="row">
                <div class="col-md-6 form-signin text-center lead">
                        <h4>Redefinir Senha</h4>
                        <form class="form" method="POST" action="{% url 'accounts:password-reset' %}" autocomplete="off">
                                {% csrf_token %} 
                                <div class="form-group mt-3">
                                        <label for="email">Email</label><br>
                                        <input type="email" id="email" name="email" class="form-control item" required autofocus>
                                </div>
                                <div class="form-group  mt-3">
                                        <button class="btn-default btn-red" type="submit">Redefinir senha</button>
                                        <button class="btn-default btn-red" onclick="location.href='{% url 'accounts:login' %}'">Cancelar</button>
                                </div> 
                        </form>
                </div>
        </div>
</div>
{% endblock %}