{% include 'base/_base_home.html' %}
{% load static %}
{% block body_home %} 
<form method="post" class="myForm lead" autocomplete="off">
	{% csrf_token %}
	<div class="form-group mt-3">
		<label for="old_password">old password<span style="color: red;">*</span></label>
		<input type="password" class="form-control" id="old_password" name="old_password" required autofocus>
	</div>
	<div class="form-group mt-3">
		<label for="new_password1">New Password<span style="color: red;">*</span></label>
		<input type="password" class="form-control" id="new_password1" name="new_password1" required>
		<small id="password-help" class="form-text text-muted">
				Your password may not be very similar to your other information
				personal, must contain at least 8 characters, cannot be a commonly used password.
				used and cannot be entirely numeric.
		</small>
	</div>
	<div class="form-group mt-3">
		<label for="new_password2">New password confirmation<span style="color: red;">*</span></label>
		<input type="password" class="form-control" id="new_password2" name="new_password2" required>
	</div>
	<div class="form-group mt-3">
		<button type="submit" class="btn-default btn-yellow" name="btn_cadastro_canal">Change</button>
		<a class="btn-default btn-red" role="button" href="{% url 'accounts:login' %}">Cancel</a>
	</div>
</form>  
{% endblock %}