{% include 'base/_head.html' %}
{% load static %}
{% block body_home %}
<form class="myForm lead p-3" method="POST" action="{% url 'accounts:password-reset' %}" autocomplete="off">
    {% csrf_token %} 
    <div class="form-group mt-3">
        <label for="email">Enter your email to reset.</label> 
        <input type="email" id="email" name="email" class="form-control item" required autofocus>
    </div>
    <div class="form-group  mt-3">
        <button class="btn-default btn-red" type="submit">Redefine password</button>
        <button class="btn-default btn-red" onclick="location.href='{% url 'accounts:login' %}'">Cancel</button>
    </div> 
</form> 
{% endblock %}