{% include 'base/_head.html' %}
{% load static %}
{% block body_home %}
<form class="myForm lead p-3" method="POST" action="{% url 'accounts:password-reset' %}" autocomplete="off">
        {% csrf_token %} 
        <div class="form-group mt-3">
                <label for="email">Digite seu e-mail para reset.</label> 
                <input type="email" id="email" name="email" class="form-control item" required autofocus>
        </div>
        <div class="form-group  mt-3">
                <button class="btn-default btn-red" type="submit">Redefinir senha</button>
                <button class="btn-default btn-red" onclick="location.href='{% url 'accounts:login' %}'">Cancelar</button>
        </div> 
</form> 
{% endblock %}