{% include 'base/_head.html' %} 
{% load static %}
{% block body_home %} 
<form method="post" class="myForm lead" autocomplete="off">
        {% csrf_token %}
        <div class="form-group mt-3">
                <label for="old_password">Senha Antiga<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="old_password" name="old_password" required autofocus>
        </div>
        <div class="form-group mt-3">
                <label for="new_password1">Senha Nova<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                <small id="password-help" class="form-text text-muted">
                        Sua senha não pode ser muito semelhante às suas outras informações
                        pessoais, deve conter pelo menos 8 caracteres, não pode ser uma senha comumente
                        usada e não pode ser totalmente numérica.
                </small>
        </div>
        <div class="form-group mt-3">
                <label for="new_password2">Nova confirmação de senha<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>
        <div class="form-group mt-3">
                <button type="submit" class="btn-default btn-yellow" name="btn_cadastro_canal">Alterar</button>
                <a class="btn-default btn-red" role="button" href="{% url 'accounts:login' %}">Cancelar</a>
        </div>
</form>  
{% endblock %}