{% include 'base/_head.html' %}
{% load static %}
{% block body_home %} 
<form id="mainform2" method="post" class="myForm lead p-3" action="{% url 'accounts:user-new' %}" autocomplete="off">
        {% csrf_token %}
        <div class="row">
                <div class="col-sm-6 form-group mt-3">
                        <label for="username">Email<span style="color: red;">*</span></label>
                        <input type="email" class="form-control" id="username" name="username" required autofocus>
                </div>
                <div class="col-sm-6 form-group mt-3">
                        <label for="user_name"><b>Username</b><span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="user_name" name="user_name" required autofocus>
                        <span id="password-help" class="text-muted">Seu Username deve conter no áximo 8 caracteres.</span><br>
                </div>
                <div class="col-sm-6 form-group mt-3">
                        <label for="first_name">Nome<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="col-sm-6 form-group mt-3">
                        <label for="last_name">Sobrenome<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="col-sm-6">
                        <div class="form-group mt-3">
                                <label for="password1">Senha<span style="color: red;">*</span></label>
                                <input type="password" class="form-control" id="password1" name="password1" required>
                                <span id="password-help" class="text-muted">Sua senha deve conter no minimo 8 caracteres.</span><br>
                                <span id="password-help" class="text-muted">E pelo menos 1 número e uma letra maiuscula.</span>
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-group mt-3">
                                <label for="password2">Confirmação da Senha<span style="color: red;">*</span></label>
                                <input type="password" class="form-control" id="password2" name="password2" required>
                        </div>
                </div>
        </div>
        <div class="invisible col-sm-6 form-group">
                <label for="type_user">Tipo Usuario<span style="color: red;">*</span></label>
                <select class="form-select form-control" id="type_user" name="type_user" selected disabled="disabled">
                        {{form.type_user.3}}
                </select>
        </div>
        <div class="form-group py-3">
                <button type="submit" class="btn-default btn-red">Cadastrar</button> 
        </div>
        <div class="form-group">
                <a class="link-secondary" href="{% url 'accounts:login' %}">Conectar-se</a>
        </div>
</form>
<script> 
        // Formulario não envia campos desabilitados
        $('#mainform2').submit(function (e) {
                $(':disabled').each(function (e) {
                        $(this).removeAttr('disabled');
                })
        });
</script>
{% endblock %}