{% include 'base/_base_home.html' %}
{% load static %}
{% block body_home %}
<form id="mainform2" method="post" class="myForm lead p-3" action="{% url 'accounts:user-new' %}" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6 form-group mt-3">
            <label for="username">E-mail<span style="color: red;">*</span></label>
            <input type="email" class="form-control" id="username" name="username" required autofocus>
        </div>
        <div class="col-sm-6 form-group mt-3">
            <label for="user_name"><b>Username</b><span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="user_name" name="user_name" required autofocus>
            <span id="password-help" class="text-muted">Seu Username deve conter no áximo 8 caracteres.</span><br>
        </div>
        <div class="col-sm-6 form-group mt-3">
            <label for="first_name">Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="col-sm-6 form-group mt-3">
            <label for="last_name">Last Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="col-sm-6">
            <div class="form-group mt-3">
                <label for="password1">Password<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="password1" name="password1" required>
                <span id="password-help" class="text-muted">Your password must contain at least 8 characters.</span><br>
                <span id="password-help" class="text-muted">And at least 1 number and 1 capital letter.</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group mt-3">
                <label for="password2">Password confirmation<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
        </div>
    </div>
    <div class="invisible col-sm-6 form-group">
        <label for="type_user">User Type<span style="color: red;">*</span></label>
        <select class="form-select form-control" id="type_user" name="type_user" selected disabled="disabled">
            {{form.type_user.3}}
        </select>
    </div>
    <div class="form-group py-3">
        <button type="submit" class="btn-default btn-red">Register</button>
    </div>
    <div class="form-group">
        <a class="link-secondary" href="{% url 'accounts:login' %}">Login</a>
    </div>
</form>
<script>
    // Formulario não envia campos desabilitados
    $('#mainform2').submit(function (e) {
        $(':disabled').each(function (e) {
            $(this).removeAttr('disabled');
        })
    });
</script>
{% endblock %}