{% extends 'config/_config.html' %}
{% block title %}Post{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block config %}
<form id="post-form" class="container-box lead" method="POST" action="{% url 'post-create' %}" autocomplete="off"
    enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="row">
        <div class="col">
            <label>Title</label>
            {% render_field form.title class="form-control" type="text" %}
        </div>
        <br>
        <div class="col">
            <label>Description</label>
            {% render_field form.desc class="form-control" type="text" rows="3" %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label>Category</label>
            {% render_field form.category class="form-control form-select" id="category" name="category" %}
        </div>
        <br>
        <div class="col">
            <label>Tags</label>
            <input type="text" data-role="tagsinput" class="form-control" name="tags">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label>Creation date</label>
            {% render_field form.created_date class="form-control" type="text" disabled="disabled" %}
        </div>
        <br>
        <div class="col">
            <label>Publication date</label>
            {% render_field form.published_date class="form-control" id="published_date" type="date" %}
        </div>
    </div>
    <br>
    <label>Active Publication ?</label>
    {% render_field form.is_activate class="form-check-input" id="is_activate" name="is_activate" %}
    <br>
    <br>
    <br>
    <div class="row">
        <label>You can upload 3 files up to 500M</label>
        <div class="col">
            {% render_field form.files1 class="form-control form-control-sm" type="file" %}
            <p class="text-muted fst-italic" style="font-size:12px;">supported format | Winrar | Zip | JPG | PNG |</p>
        </div>
        <div class="col">
            {% render_field form.files2 class="form-control form-control-sm" type="file" %}
            <p class="text-muted fst-italic" style="font-size:12px;">supported format | Winrar | Zip | JPG | PNG |</p>
        </div>
        <div class="col">
            {% render_field form.files3 class="form-control form-control-sm" type="file" %}
            <p class="text-muted fst-italic" style="font-size:12px;">supported format | Winrar | Zip | JPG | PNG |</p>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn-default btn-red" name="btn_adicionar">Create</button>
        <button type="button" class="mr-2 btn-default btn-red" onclick="location.href='{% url 'home:home' %}'">Come back</button>
    </div>
</form>
<script>
    // Formulario não envia campos desabilitados
    $('#post-form').submit(function (e) {
        $(':disabled').each(function (e) {
            $(this).removeAttr('disabled');
        })
    });
</script>
{% endblock %}