{% extends 'base/_base_home.html' %}
{% block title %}Apagar Post{% endblock %} 
{% block main_content %} 
<div class="box text-center">
    <div class="form-signin"> 
        <h2>Aviso</h2>
        <p>
        Tem a certeza que deseja eliminar esta postagem ? 
        <br>
        Esta postagens será removida completamente.
        </p>
        <form method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn-default btn-red">Sim</button>   
                <a class="btn-default btn-red" role="button" href="{% url 'post'%}">Cancelar</a>
            </div>
        </form>
    </div>
</div> 
{% endblock %}