{% load static %}   
<div class="table-responsive">
    <table class="text-center table table-bordered rounded mt-3 shadow-sm">
         <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Thumbnail</th>
                  <th scope="col">Usuario</th> 
                  <th scope="col">Titulo</th>
                  <th scope="col">Arquivo</th>
                  <th scope="col">Link</th>
                  <th scope="col">Publicado</th>
                  <th scope="col">Ações</th>
               </tr>
         </thead>    
         {% for objects in post_list %}  
            {% if request.user == objects.author %} 
            <tbody>
                  <tr> 
                     <td scope="row">{{ objects.id }}</td>
                     {% if objects.image %}
                     <th scope="row"> 
                        <a class="link-primary" data-bs-toggle="modal" href="#imgModal{{objects.id}}">
                           <i class="far fa-image fa-2x"></i>
                        </a> 
                     </th>
                     <div class="modal fade" id="imgModal{{objects.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center"> 
                                    <img src="{{objects.image.thumb.url}}" class="img-responsive" alt="{{objects.author}}">  
                                </div> 
                            </div>
                        </div>
                     </div>
                     {% else %}
                     <th scope="row">None</th>
                     {% endif %} 
                     <td scope="row">{{ objects.author }}</td>
                     <td scope="row">{{ objects.title }}</td>
                     {% if objects.download_file %}
                     <th scope="row">
                        <a class="link-secondary" href="{{ objects.download_file.url }}" target="_blank">
                           <i class="far fa-file-archive fa-2x"></i>
                        </a> 
                     </th>
                     {% else %}
                     <th scope="row">None</th>
                     {% endif %}   
                     {% if objects.download_link %}
                     <th scope="row">
                        <a class="link-secondary" href="{{ objects.download_link }}" target="_blank">
                           <i class="fas fa-file-code fa-2x"></i>
                        </a> 
                     </th>
                     {% else %}
                     <th scope="row">None</th>
                     {% endif %}     
                     <td scope="row">
                        {% if objects.is_activate %}
                        <div class="link-success">
                           <i class="fas fa-check-circle fa-2x"></i> 
                        </div> 
                        {% else %}
                        <div class="link-danger">
                           <i class="fas fa-times-circle fa-2x"></i> 
                        </div> 
                        {% endif %} 
                     </td>    
                     <td>
                        <a class="link-warning me-2" href="{% url 'post-update' objects.pk %}">
                           <i class="fas fa-file-invoice fa-2x" aria-hidden="true"></i>
                        </a>
                        <a class="link-danger" href="{% url 'post-delete' objects.pk %}">
                           <i class="fas fa-trash fa-2x" aria-hidden="true"></i>
                        </a>
                     </td> 
                  </tr>
            </tbody>
            {% endif %}
            {% endfor %}
    </table>
</div> 
 
