{% extends 'profile/profile.html' %} 
{% block body_profile %}  
<div class="g-4 py-3"> 
    <!-- <button class="btn-default btn-red"  onclick="location.href='{% url 'post-create' %}'"><a></a>Criar Post</button>   -->
    <!-- <button class="btn-default btn-orange"  onclick="location.href='#'"><a></a>Comentarios</button>  
    <button class="btn-default btn-orange"  onclick="location.href='#'"><a></a>Relatorios</button>   
    <button class="btn-default btn-orange"  onclick="location.href='#'"><a></a>Todas Postagens</button>    -->
</div>   
{% include 'post/post-card.html' %}    
{% endblock %}
