{% extends 'base/_base_home.html' %}
{% load widget_tweaks %}
{% load static %}
{% block body_home %}
<div class="container">
        <div class="row">
                <div class="col-md-3">
                        <div class="p-3 bg-light">
                                <div class="text-center">
                                        <h5>Configurações</h5> 
                                </div> 
                                <div class="col mb-2 py-1">
                                        <a href="{%  url 'post' %}">
                                                <button class="btn-default btn-red" type="button">Todas as Perguntas</button>
                                        </a>
                                </div>
                                <div class="col mb-2 py-1">
                                        <a href="{%  url 'post' %}">
                                                <button class="btn-default btn-red" type="button">Perguntas Desativadas</button>
                                        </a> 
                                </div>   
                                <div class="col mb-2 py-1">
                                        <a href="{%  url 'profile:users-profile' %}">
                                                <button class="btn-default btn-red" type="button">Usúarios</button>
                                        </a>
                                </div>

                        </div>
                </div>
                <div class="col-md-9 p-3">
                        <div class="row"> 
                                {% if request.GET.title %}
                                <div class="col-md-2 p-3 align-self-end">
                                        <a href="{%  url 'post' %}">
                                                <button class="btn-default btn-red" type="button">Reset</button>
                                        </a>
                                </div>
                                {% endif %}

                                {% if request.GET.perguntas %}
                                <div class="col-md-6 p-3">
                                        <span class="fw-bold py-3">Titulo: </span>
                                        <form method="get">
                                                <input name="title" type="text" value="{{request.GET.title}}"
                                                        class="form-control" placeholder="Pesquisar...">
                                        </form>
                                </div>
                                {% endif %}

                        </div>
                        {% block config %}
                        <h2>Selecione um item do menu</h2>
                        {% endblock %}
                </div>
        </div>
</div>

{% endblock %}