{% extends 'base/_base_home.html' %}
{% block title %}New password{% endblock %}
{% block body_home %}
<form class="myForm lead p-3" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group mt-3">
                <label for="new_password1">New password<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                <span id="password-help" class="form-text text-muted">
                        Your password may not be very similar to your other information.
                        personal, must contain at least 8 characters, cannot be a commonly used password, and
                        cannot be entirely numerical.
                </span>
        </div>
        <div class="form-group mt-3">
                <label for="new_password2">New password confirmation<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>
        <div class="form-group mt-3">
                <button type="submit" class="btn-default btn-red" name="next" value="{{ next }}">Change</button>
        </div>
</form>
{% endblock %}