{% extends 'base/_base_home.html' %}
{% block title %}Password reset completed{% endblock %}
{% block body_home %} 
<div class="container-box text-center lead p-3"> 
        <h3>Password reset complete</h3>
        <p>An email has been sent with instructions for setting your password. If there is an account with the email provided, you will receive the message shortly. </p>
        <p> If you have not received an email, please make sure it is from the address you are registered with, and check your spam folder. </p>
        <div>
                <button class="btn-default btn-red" onclick="location.href='{% url 'accounts:login' %}'">Home</button>
        </div>
</div>
{% endblock %}