{% extends 'base/_base_home.html' %}
{% block title %}Nova Senha{% endblock %}
{% block body_home %} 
<<div class="container box">
        <div class="row">
                <div class="col-md-6 form-signin text-center lead">
                        <form method="post" class="form" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group mt-3">
                                        <label for="new_password1">Nova Senha<span style="color: red;">*</span></label>
                                        <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                                        <span id="password-help" class="form-text text-muted">
                                                Sua senha não pode ser muito semelhante a suas outras informações
                                                pessoais, deve conter pelo menos 8 caracteres, não pode ser uma senha comumente usada e
                                                não pode ser totalmente numérica.
                                        </span>
                                </div>
                                <div class="form-group mt-3">
                                        <label for="new_password2">Nova confirmação de senha<span style="color: red;">*</span></label>
                                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                                </div>
                                <div class="form-group mt-3">
                                        <button type="submit" class="btn-default btn-red" name="next" value="{{ next }}">Alterar</button>
                                </div>
                        </form>
                </div>
        </div>
</div>
{% endblock %}