{% extends 'base/_base_home.html' %}
{% block title %}Redefinição de senha concluída{% endblock %}
{% block body_home %} 
<div class="container box">
        <div class="row">
                <div class="col-md-6 form-signin text-center lead">
                        <h3>Redefinição de senha concluída</h3>
                        <p>Um e-mail foi enviado com instruções para definir sua senha. Se houver uma conta com o e-mail fornecido, você receberá a mensagem em breve. </p>
                        <p> Se você não recebeu um e-mail, certifique-se de que desde o endereço com o qual você está registrado, e verifique sua pasta de spam. </p>
                        <div>
                                <button class="btn-default btn-red" onclick="location.href='{% url 'accounts:login' %}'">Inicio</button>
                        </div>
                </div>
        </div>
</div>
{% endblock %}