{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'base/_head.html' %}
</head>

<body> 
        {% include 'base/_navbar.html' %}
        <div class="container py-5">
        {% include 'base/_messages.html' %}
        {% block body_home %}
        {% endblock %}
        </div>
</body>
<script>
        setTimeout(function () {
                if ($('#msg').length > 0) {
                        $('#msg').remove();
                }
        }, 2000)
</script>
</html>